@mixin flex() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@mixin align-items($value) {
	-webkit-box-align: $value;
	-ms-flex-align: $value;
	align-items: $value;	
}
@mixin border-radius($value) {
	border-radius: $value;
	-webkit-border-radius: $value;
	-ms-border-radius: $value;
}
@mixin transition($value) {
	transition: $value;
	-moz-transition: $value;
	-webkit-transition: $value;
	-ms-transition: $value;
}
@mixin rotate($value) {
	transform: rotate($value);
	-moz-transform: rotate($value);
	-webkit-transform: rotate($value);
	-ms-transform: rotate($value);
}
@mixin transform($value) {
	transform: $value;
	-moz-transform: $value;
	-webkit-transform: $value;
	-ms-transform: $value;
}
@mixin scale($value) {
	transform: scale($value);
	-moz-transform: scale($value);
	-webkit-transform: scale($value);
	-ms-transform: scale($value);
}
@mixin boxShadow($value) {
	box-shadow: $value;
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
	-ms-box-shadow: $value;
}

@mixin mediaQuery( $point ) {
	@if $point==1199 {
		@media ( max-width: 1199px ) {
			@content;
		}
	}
	@if $point==991 {
		@media ( max-width: 991px ) {
			@content;
		}
	}
	@if $point==768 {
		@media ( max-width: 767px ) {
			@content;
		}
	}
	@if $point==576 {
		@media ( max-width: 576px ) {
			@content;
		}
	}
	@if $point==479 {
		@media ( max-width: 479px ) {
			@content;
		}
	}
}