/***************************************
			404 Page 
***************************************/
.wrap404 {
	background: {
		image: url('#{$imgPath}/errorpage.png');
		repeat: no-repeat;
		size: cover;
		position: bottom center;
	}
	padding: 50px 0px;
	.inner-content {
		text-align: center;
		min-height: 75vh;
	}
	h2 {
		font-size: 55px;
	}
	p {
		font-size: 20px;
	}
	h2, p {
		@extend %colorwhite;
	}
}