/***************************************
			blog Page 
***************************************/
.blog-post {
	@include boxShadow( 0px 0px 15px 2px rgba(0,0,0,0.12) );
	position: relative;
	@include transition(transform 0.25s ease-in-out 0s);
	margin-bottom: 20px;
	&:hover {
		transform: translateY(-5px);
		-moz-transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
	}
	.link {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	.blog-image {
		background-position: center center;
		background-size: cover;
		min-height:250px;
	}
	.blog-content {
		padding: 25px;
		.category {
			color: $blue;
			text-transform: uppercase;
		}
		.text-content {
			color: #1e1e1e;
			padding: 10px 0px;
		}
		.meta-info {
		}
	}
}
.blog-detail-hero {
	background-image: url('#{$imgPath}/grey-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	h1 {
		color: $blue;
		font: {
			weight: 300;
		}
	}
	.text-content {
		font-size: 17px;
		color: $black;
	}
}
.blog-body {
    padding: 50px 0px;

    &.overlapTop {
    	margin-top: -120px;
    }
}
.blog-featured-image {
	border: 15px solid $white;
	margin-bottom: 20px;
	img {
		width: 100%;
	}
}
.blockquote,
.wp-block-quote {
	border: 1px solid $skyBlue;
	padding: 40px;
	@include border-radius(5px);
	max-width: 80%;
    margin: 40px auto;

	p {
		color: $black;
		font-style: Italic;
		font-size: 18px;
	}
	cite {
		color: $blue;
		font-style: normal;
	}
}
.custom_pagination {
	ul {
		display: flex;
		padding-left: 0;
		list-style: none;
		border-radius: .25rem;
		padding: 0px;
		margin: 0px;
	}
	li  {
		a, span {
			padding: .7rem 1rem;
			position: relative;
			display: block;
			border: 1px solid #dee2e6;
			margin-left: -1px;
			line-height: 1.25;
			z-index: 1;
			color: #007bff;
			border: 1px solid #dee2e6;
			cursor: pointer;
			&.current {
				color: #fff;
				background-color: #007bff;
				border-color: #007bff;
			}
			&:hover {
				text-decoration: none;
				background-color: #e9ecef;
			}
		}
	}
}
.loadingposts {
    border: 1px solid $blue;
    text-align: center;
    color: $blue;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    display: none;
}
.blog-content {
	.page-main-content-area {
		max-width: 660px;
		margin: 0 auto;
		font-size: 16px;
		p {
			font-size: 16px;
		}
	}
}