/***************************************
			Contact Page 
***************************************/
.contactpage-wrap {
	background-color: $white;
	padding: 50px;
	@include boxShadow(0px 10px 30px 0px rgba(0, 0, 0, 0.08));

	@include mediaQuery(768) {
    	padding: 10px 25px;
	}
	.text-content {
		font-size: 14px;
		color: $black3;
	}
	.footer-contact-info {
		text-align: left;
		@include mediaQuery(991) {
	    	margin-bottom: 30px;
		}
	}
}