/***************************************
			faq Page 
***************************************/
.faq-section {
	margin-bottom: 30px;
	padding: 30px;
	@include boxShadow( 0px 0px 15px 0px rgba(0, 0, 0, 0.15) );

}
.faq-block {
	padding-bottom: 0px;
	margin-bottom: 15px;
	border-bottom: 1px solid #cecece;

	&:last-child {
		margin-bottom: 0px;
		border-bottom: 0px;
	}

	.title {
		margin-bottom: 5px;
		font-weight: 500;
		text-transform: uppercase;
		.question {
			color: $skyBlue;
			font-weight: bold;
    		font-size: 22px;
		}
	}
	.content {
		p {
			color: rgba(0,0,0,0.5);
			font-weight: 300;
		}
	}
}