/***************************************
			Industries Page 
***************************************/
.industry-item {
	margin-bottom: 35px;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	padding-bottom: 35px;
	&:last-child {
		margin-bottom: 0px;
		border-bottom: 0px;
	}
	.icon {
		img {
			max-width: 100%;
			@include scale(0.70);
			@include transition(transform 0.15s ease-in-out 0s);
			@include mediaQuery(991) {
		    	@include scale(1);
			}
			@include mediaQuery(576) {
		    	max-width: 120px;
		    	margin-bottom: 20px;
			}
		}
	}
	a {
		color: $skyBlue;
	}
	&:hover .icon {
		img {
			max-width: 100%;
			@include scale(0.9);
			@include mediaQuery(991) {
		    	@include scale(1);
			}
		}
	}
}