/***************************************
			Partners Page 
***************************************/
.partner-box {
	border: 1px solid rgba(0,0,0,0.1);
	padding: 30px;
	position: relative;
	margin-bottom: 15px;
	text-align: center;

	&:hover {
		border-color: $blue;
	}

	img {
		max-height: 74px;
		width: auto;
	}

	a:before {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		content: "";
	}
}