/***************************************
			Products Page 
***************************************/
.hero.products-hero {
	h2 {
		@include mediaQuery(991) {
			font-size: 30px;
		}
	}
	.hero-img {
		@include mediaQuery(768) {
			margin-bottom: 20px;
		}
	}
}
.c-border-top {
	position: relative;
	padding-top: 15px;
	@include mediaQuery(768) {
		padding: 8px 0;
	}
	&.f-md {
		@include mediaQuery(991) {
			padding: 8px 0;
		}
		&:before {
			@include mediaQuery(991) {
				width: 100%;
			}
		}	
	}

	&:before {
		content: "";
		width: 75%;
		height: 1px;
		background: $skyBlue;
		position: absolute;
		left: 0px;
		top: 0px;
		@include mediaQuery(768) {
			width: 100%;
		}
	}
}
.product_carousel {
	padding: 0 65px;
	@include mediaQuery(768) {
		padding: 0 45px;
	}
	@include mediaQuery(479) {
		padding: 0px;
	}
	.carousel-image {
		padding: 7px;
		margin-bottom: 20px;
		img {
			@include boxShadow( 0px 0px 7px 0px rgba(0, 0, 0, 0.15) );
		}
	}
	.carousel-control-next, 
	.carousel-control-prev {
		width: 50px;
		height: 50px;
		color: $black;
		border: 1px solid $black;
		top: 50%;

		@include mediaQuery(768) {
			width: 36px;
			height: 36px;
			top: 120px;
		}
	}
	// .carousel-control-next{
	// 	right: -60px;
	// }
	// .carousel-control-prev {
	// 	left: -60px;
	// }

}
.shadow-img {
	@include boxShadow( 0px 0px 7px 0px rgba(0, 0, 0, 0.15) );
}