/***************************************
			Request Demo Page 
***************************************/
.requestdemo-content-container {
	background: $white;
	padding: 4rem 6%;
	margin: 30px 0px;
	@include boxShadow( 0 0px 15px 0 rgba(45, 35, 66, 0.15) );
	@include border-radius(6px);
	.list-item {
		li {
			margin-bottom: 10px;
		}
		strong {
			color: $skyBlue;
		}
	}
	.header-part {
		margin-bottom: 25px;
	}
}
.requestdemo-form {
    margin-top: 50px;
	label {
		color: $black3;
		margin-bottom: 5px;
		display: block;
		padding: 3px 13px 0 0;
		letter-spacing: .5px;
	}
}
.form-control {
	height: 40px;
	border: 1px solid #d5d2d9;
	font-size: 13px;
	textarea & {
		height: 150px;
	}
}
textarea.form-control {
	height: 100px;
}
.required {
	label {
		background: url('#{$iconsPath}/required.gif') no-repeat top right;
	}
}
.list-item {
	@extend %unstyle;
	li {
		list-style: none;
		padding-left: 28px;
		position: relative;
		margin-bottom: 5px;

	    &:before {
		    content: '';
		    background-image: url('#{$iconsPath}/bullet-icon.png');
		    background-position: left center;
		    background-repeat: no-repeat;
		    background-size: contain;
		    display: inline-block;
		    margin: 0 6px 0 0;
		   	width: 18px;
		    height: 18px;
		    position: absolute;
		    left: 0px;
    		top: 3px;
		}
	}
}