/***************************************
			Sidebar Page 
***************************************/
.sidebar {
  margin-left: auto;
  @include mediaQuery(991) {
    margin-top: 50px;
  }
  .widget {
    @include boxShadow(0px 0px 15px 2px rgba(0, 0, 0, 0.15px));
    padding: 30px;
    @include border-radius(7px);
    margin-bottom: 20px;
    background-color: $white;
    .widget-title {
      color: $blue;
      margin-bottom: 0px;
    }
    .icon {
      img {
        max-width: 60px;
      }
    }
    .text-content {
      margin-top: 10px;
    }
    .guide-note {
      background-image: url("#{$iconsPath}/move-farward.png");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 45px 45px;

      padding-left: 60px;
      color: $skyBlue;
      font-weight: 600;
      font-size: 1.2rem;
      display: inline-block;
      line-height: 1.6rem;
    }
  }
}
.list-items {
  @extend %unstyle;
  &.featured-blogs {
    li {
      margin-bottom: 4px;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      padding: 5px 0px;
    }
  }
}
.search-widget {
  margin-bottom: 20px;
}

@media ( min-width: 992px ) {
  .main_left_side {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .main_right_side {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .sidebar {
    max-width: 300px;
  }
}
.subscription-widget {
  .divider {
    margin: 15px 0px;
    .line {
      display: block;
      width: 100%;
      background-color: $blue;
      height: 2px;
      max-width: 140px;
    }
  }
}