/***************************************
			Home Blog Section 
***************************************/
.hero {
	background-image: url('#{$imgPath}/pattern-dark.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0px;
	&.overlapHero {
		padding-bottom: 120px;
	}
	@include mediaQuery(576) {
    	text-align: center;
    	padding: 50px 0px;
	}
	h2 {
		font-size: 45px;
		@extend %colorwhite;
		font-weight: 100;
		@include mediaQuery(768) {
	    	font-size: 40px;
		}
		@include mediaQuery(479) {
	    	font-size: 35px;
		}
	}
	.h-content {
		font-size: 17px;
		@extend %colorwhite;
		margin: 15px 0px 40px 0px;
		@include mediaQuery(991) {
	    	margin: 15px 0px 20px 0px;
		}
		@include mediaQuery(576) {
	    	margin: 15px auto 20px auto;
		}
	}
	.hero-img {
		img {
			max-width: 100%;
		}
	}
	.btn {
		margin-top: 8px;
	}
	.btn-outline-warning {
		@extend %colorwhite;
	}
}

/***************************************
			Customer's Section
***************************************/
.home-customers {
	padding: 40px 0px;
	background: $blue;

	@include mediaQuery(991) {
    	padding: 25px 0px;
	}

	img {
		max-width: 85%;
		@include mediaQuery(991) {
	    	max-width: 60%;
	    	max-height: 40px;
		}
		@include mediaQuery(768) {
	    	max-width: 70%;
		}
		@include mediaQuery(479) {
	    	max-width: 100%;
		}
	}
	.row {
		> div:nth-child(n+4) {
			@include mediaQuery(991) {
		    	text-align: right;
			}
			@include mediaQuery(576) {
		    	text-align: center;
			}
		}
		> div {
			@include mediaQuery(991) {
		    	margin: 6px 0px;
			}
			@include mediaQuery(576) {
		    	text-align: center;
			}
		}
	}
}

/***************************************
			Home Feaures Section
***************************************/
.home-features {
	background-image: url('#{$imgPath}/darkgreen-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0px;

	@include mediaQuery(768) {
    	padding: 50px 0px 30px 0px;
	}	

	.head {
		margin-bottom: 50px;
		h2 {
			@extend %colorwhite;
			font-weight: 200;
		}
		.textContent {
			margin-top: 20px;
		}
		.textContent, p {
			@extend %colorwhite;
			font-weight: 200;
		}
	}
}
.h-feature {
	position: relative;
	padding-right: 40px;
	@include mediaQuery(1199) {
    	padding-right: 0px;
	}
	@include mediaQuery(768) {
    	padding-left: 140px;
	}
	@include mediaQuery(479) {
    	padding-left: 114px;
	}
	.icon {
		min-height: 130px;
		overflow: hidden;
		@include mediaQuery(768) {
	    	position: absolute;
	    	left: 0px;
	    	top: 0px;
	    	max-width: 115px;
	    	width: 100%;
	    	text-align: center;
		}
		img {
			@include mediaQuery(768) {
		    	max-width: 115px;
			}
			@include mediaQuery(479) {
				max-width: 85px;
				max-height: 80px;
			}
		}
	}
	.title {
		margin-bottom: 10px;
		h4 {
			font-size: 20px;
			@extend %colorwhite;
		}
	}
	.textContent {
		min-height: 75px;
		@extend %colorwhite;
		font-weight: 300;
	}
	.resource-btn {
		@include mediaQuery(768) {
	    	display: none;
		}
	}
}


/***************************************
			Blog Section
***************************************/
.blog-section {
	background-image: url('#{$imgPath}/grey-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 130px 0px 80px 0px;
	@include mediaQuery(991) {
    	padding: 130px 0px 30px 0px;
	}
	.head {
		margin-bottom: 40px;
		text-align: center;
	}
}
.h-blog-item {
	border: 2px solid $blue;
	@include border-radius(8px);
	padding: 35px 30px 40px 30px;
	@include mediaQuery(991) {
    	padding: 30px;
    	margin-bottom: 30px;
	}

	.b-title {
		min-height: 105px;
		@include mediaQuery(991) {
	    	min-height: inherit;
	    	text-align: center;
		}
		h3 {
			color: $blue;
			font-weight: 300;
		}
	}
	.b-content {
		font-size: 14px;
		min-height: 135px;
		@include mediaQuery(991) {
	    	min-height: inherit;
		}
	}
	.resource-btn {
		text-align: center;
		margin-top: 30px;
	}
	.btn {
		padding-left: 40px;
		padding-right: 40px;
	}
}
/***************************************
			Home Integration Section
***************************************/
.home-integration {
	padding: 80px 0px;

	@include mediaQuery(768) {
		padding: 50px 0px;
	}

	.section-head {
		text-align: center;
		max-width: 551px;
		margin: 0 auto 30px;
		h2 {
			font-weight: 300;
		}
		.text-content {
			margin: 20px 0;
		}
		.btn {
			padding-left: 70px;
			padding-right: 70px;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
	.flow-cart {
		max-width: 750px;
		margin: 0 auto;
		text-align: center;
		.img-mobile {
			max-width: 280px;
		}
	}
}
/***************************************
			Home Testimonials Section
***************************************/
.home-testimonials {
	background-color: $grey;
	padding: 80px 0px 0px 0px;

	@include mediaQuery(991) {
		padding: 50px 0px 0px 0px;
	}
	@include mediaQuery(768) {
		padding: 50px 0px 20px 0px;
	}
	
	.textContent {
		font-size: 17px;
		padding-right: 80px;
		font-weight: 300;
		margin-bottom: 70px;

		@include mediaQuery(991) {
			padding-right: 0px;
			max-width: 420px;
			margin: 0 auto 40px;
		}
		h2 {
			font-weight: 300;
			max-width: 270px;
			margin-bottom: 30px;
			@include mediaQuery(991) {
				margin: 0 auto 30px;
				text-align: center;
			}
		}
	}
}
.user-quote {
	margin-bottom: 30px;
	@include mediaQuery(991) {
    	text-align: center;
    	max-width: 220px;
    	margin: 0 auto 30px;
	}
	@include mediaQuery(768) {
    	max-width: 100%;
	}
	.image {
		max-width: 125px;
		margin-right: 10px;
		@include mediaQuery(991) {
	    	margin: 0 auto 15px;
		}
		img {
			max-width: 100%;
		}
	}
	h5 {
		font-size: 17px;
	}
}
.quote {
	background-color: #fbfbff;

    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
    
    @include border-radius(8px);
    padding: 20px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    .q-text {
    	font-size: 14px;
    	min-height: 122px;
		@include flex();
		@include align-items(center);

		@include mediaQuery(991) {
			min-height: 204px;
		}
    }
    .q-info {
		text-align: center;
		padding: 0 50px;
		@include mediaQuery(991) {
			padding: 0 10px;
		}
    	h3 {
    		color: $darkGreen;
    		font-size: 18px;
    		min-height: 43px;
    		
    		@include mediaQuery(991) {
				min-height: 63px;
			}
    	}
    	.q-logo {
			min-height: 51px;
			display: flex;
			align-items: center;
			justify-content: center;
    	}
    }
}