/***************************************
			Leadership Page 
***************************************/
.team-member {
	cursor: pointer;
	margin-bottom: 50px;
	@include mediaQuery(991) {
    	margin-bottom: 30px;
	}
	&:hover {
		opacity: 0.9;
	}
	.image {
		position: relative;
		img {
			width: 100%;
		}
		margin-bottom: 10px;
	}
	.image-leader {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center top;
	}
	h3 {
		color: $black;
		font-weight: 500;
		margin-bottom: 0px;
	}
	.designation {
		color: $blue;
		font-weight: 500;
		font-size: 13px;
		text-transform: uppercase;
	}
}
.l-section2 {
	background-image: url('#{$imgPath}/darkgreen-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0px;

	.text-content {
		color: $white;
		font-weight: 300;
		line-height: 170%;
	}
}
.leaderPopup {
	.modal-body {
		padding: 40px 40px 30px 40px;
	}
	.modal-content {
		@include boxShadow(0px 0px 10px 1px rgba(0,0,0,0.2));
		border: 0px;
	}
}