/***************************************
			News Page 
***************************************/
.news-article {
	margin-bottom: 35px;
	h3 {
		text-transform: uppercase;
	}
	.article-actions {
		margin-top: 15px;
	}
	.article-meta {
		margin-bottom: 10px;
	}
	.arrow-right { 
		width: 20px;
    	height: 17px;
		background-image: url('#{$iconsPath}/arrow-right-nb.png');
		margin-left: 7px;
	}
	.read_more {
		color: $skyBlue;
	}
}