/***************************************
			Products Page 
***************************************/
.c-border-top {
	
	position: relative;
	padding-top: 15px;

	&:before {
		content: "";
		width: 75%;
		height: 1px;
		background: $skyBlue;
		position: absolute;
		left: 0px;
		top: 0px;
	}
}
.product_carousel {
	.carousel-image {
		padding: 7px;
		margin-bottom: 20px;
		img {
			@include boxShadow( 0px 0px 7px 0px rgba(0, 0, 0, 0.15) );
		}
	}
	.carousel-control-next, 
	.carousel-control-prev {
		width: 50px;
		color: $black;
		height: 50px;
		border: 1px solid $black;
		top: 50%;
	}
	.carousel-control-next{
		right: -60px;
	}
	.carousel-control-prev {
		left: -60px;
	}

}
.shadow-img {
	@include boxShadow( 0px 0px 7px 0px rgba(0, 0, 0, 0.15) );
}