/***************************************
			Solutions Page 
***************************************/
.industries-list {
	.industry {
		text-align: center;
		padding: 25px 15px;
	}
	a {
		display: inline-block;
	}
	.icon {
		display: block;
		img {
			max-height: 80px;
		}
	}
	.name {
		display: block;
		margin-top: 13px;
		font-size: 16px;
	}
}
.s-feature {
	
}