.main-nav ul, .footer-widget ul, .list-item, .list-items {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.bg-skyblue {
  background-color: #17a6c6;
}

.text-skyBlue {
  color: #17a6c6;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-warning, .btn-warning:hover, .inner-page-header h1, .footer_cta h2, .footer_cta p, .hero h2, .hero .h-content, .hero .btn-outline-warning, .home-features .head h2, .home-features .head .textContent, .home-features .head p, .h-feature .title h4, .h-feature .textContent, .wrap404 h2, .wrap404 p {
  color: #fff;
}

.text-blue {
  color: #0e76bc;
}

.text-blue p {
  color: #0e76bc;
}

.bg-grey {
  background-color: #eaeaea;
}

/********************************************************
					Global Style Start
********************************************************/
html {
  font-size: 15px;
}

html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

body {
  color: #5b5b5b;
  font-size: 1rem;
}

a {
  transition: color 0.3s ease-in-out 0s;
  -moz-transition: color 0.3s ease-in-out 0s;
  -webkit-transition: color 0.3s ease-in-out 0s;
  -ms-transition: color 0.3s ease-in-out 0s;
}

a:focus,
a:active,
button:focus,
button:active,
.form-control:focus {
  outline: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

a {
  color: #000000;
}

a:hover {
  color: #0e76bc;
}

.page-main-content-area {
  text-align: justify;
}

.page-main-content-area h4 {
  margin-top: 30px;
  font-size: 27px;
}

.large-text {
  font-size: 17px;
  font-weight: 300;
}

.btn {
  padding: 11px 25px;
  font-size: 14px;
  letter-spacing: .5px;
  transition: all 0.3s cubic-bezier(0.36, 1.11, 0.58, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.36, 1.11, 0.58, 1) 0s;
  -webkit-transition: all 0.3s cubic-bezier(0.36, 1.11, 0.58, 1) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.36, 1.11, 0.58, 1) 0s;
}

.btn:hover {
  transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
}

.btn:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.btn-primary {
  background-color: #17a6c6;
  border-color: #17a6c6;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #15b3d6;
  border-color: #15b3d6;
}

.btn-outline-primary {
  border-color: #17a6c6;
  color: #17a6c6;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #15b3d6;
  border-color: #15b3d6;
}

.btn-outline-primary:hover .i-play, .btn-outline-primary:active .i-play, .btn-outline-primary:focus .i-play, .btn-outline-primary:not(:disabled):not(.disabled):active .i-play {
  border-left-color: #fff;
}

.btn-warning {
  background-color: #f8931d;
}

.i-play {
  display: inline-block;
  border: 10px solid transparent;
  border-left-color: #17a6c6;
  vertical-align: middle;
}

.page-item .page-link {
  padding: .7rem 1rem;
}

.inner-page-header {
  background-image: url("../../images/pattern-title.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0px;
  text-align: center;
}

@media (max-width: 767px) {
  .inner-page-header {
    padding: 30px 0px;
  }
}

.inner-page-header h1 {
  font-weight: 100;
  font-size: 40px;
}

@media (max-width: 767px) {
  .inner-page-header h1 {
    font-size: 33px;
  }
}

.innerpage_wrap {
  padding: 50px 0px;
}

@media (max-width: 991px) {
  .innerpage_wrap {
    padding: 30px 0px;
  }
}

.section {
  padding: 80px 0px;
}

@media (max-width: 767px) {
  .section {
    padding: 50px 0px;
  }
}

.single-page-body {
  line-height: 1.7;
}

/********************************************************
					Global Style END
********************************************************/
/********************************************************
					Header Style Start
********************************************************/
.site-header {
  background: #fff;
  padding: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .site-header {
    height: 70px;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.site-header + .header-gap {
  height: 76px;
}

@media (max-width: 991px) {
  .site-header + .header-gap {
    height: 70px;
  }
}

.logo {
  display: inline-block;
}

.logo img {
  max-width: 200px;
}

@media (max-width: 479px) {
  .logo .desktop {
    display: none;
  }
}

.logo .mobile {
  max-width: 43px;
  display: none;
}

@media (max-width: 479px) {
  .logo .mobile {
    display: block;
  }
}

@media (max-width: 991px) {
  .main-nav-wrap {
    margin-left: 0px;
    position: fixed;
    left: 0px;
    top: 70px;
    width: 100%;
    height: calc(100% - 70px);
    background: #fff;
    z-index: -10;
    overflow: auto;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s cubic-bezier(0.43, 1, 0.58, 1) 0s;
    -moz-transition: all 0.35s cubic-bezier(0.43, 1, 0.58, 1) 0s;
    -webkit-transition: all 0.35s cubic-bezier(0.43, 1, 0.58, 1) 0s;
    -ms-transition: all 0.35s cubic-bezier(0.43, 1, 0.58, 1) 0s;
  }
}

@media (max-width: 991px) {
  .main-nav-wrap nav {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .openMenu .main-nav-wrap {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    display: block;
  }
}

.main-nav {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .main-nav {
    display: block;
  }
}

.main-nav li a {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  font-size: 15px;
}

.main-nav li:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
  left: 0;
}

.main-nav > li {
  position: relative;
}

@media (max-width: 991px) {
  .main-nav > li {
    border-bottom: 1px solid #d7d7d7;
  }
}

.main-nav > li > a {
  padding: 26px 18px;
  color: #000000;
  font-weight: 400;
  border-bottom: 2px solid transparent;
}

@media (max-width: 991px) {
  .main-nav > li > a {
    color: #58585a;
    border-bottom: 0px;
    padding: 10px 18px;
    font-weight: 500;
  }
}

.main-nav > li > a:hover {
  border-bottom-color: #0e76bc;
  color: #0e76bc;
}

.main-nav ul {
  position: absolute;
  left: 0px;
  top: 120%;
  z-index: 99;
  background-color: #fff;
  min-width: 225px;
  visibility: hidden;
  opacity: 0;
  margin-top: -3px;
  border-top: 2px solid #0e76bc;
  transition: all 0.25s cubic-bezier(0.35, 0.33, 0.74, 0.76) 0s;
  -moz-transition: all 0.25s cubic-bezier(0.35, 0.33, 0.74, 0.76) 0s;
  -webkit-transition: all 0.25s cubic-bezier(0.35, 0.33, 0.74, 0.76) 0s;
  -ms-transition: all 0.25s cubic-bezier(0.35, 0.33, 0.74, 0.76) 0s;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.12);
}

@media (max-width: 991px) {
  .main-nav ul {
    position: static;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    display: block;
    border-top: 0px solid transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
  }
}

.main-nav ul li a {
  color: #58585a;
  font-weight: 500;
  padding: 7px 17px;
  font-size: 15px;
}

@media (max-width: 991px) {
  .main-nav ul li a {
    color: #58585a;
    padding: 10px 25px 10px 35px;
    font-weight: 400;
  }
}

.main-nav ul li a:hover {
  color: #17a6c6;
}

.get-started-btn {
  margin-left: 25px;
}

@media (max-width: 576px) {
  .get-started-btn {
    display: none;
  }
}

.get-started-btn a {
  border: 1px solid #17a6c6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  color: #17a6c6;
  font-weight: 400;
  padding: 5px 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 15px;
  margin-left: 8px;
}

.get-started-btn a:hover:hover {
  border-color: #15b3d6;
  color: #15b3d6;
}

.get-started-btn a:hover .arrow-right {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5pxf);
}

.get-started-btn a.get_started {
  color: #fff;
  background-color: #17a6c6;
}

.get-started-btn a.get_started:hover {
  background-color: #15b3d6;
  border-color: #15b3d6;
  color: #fff;
}

.arrow-right {
  background-image: url("../../images/icons/arrow-right-white.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 17px;
  height: 12px;
  margin-left: 2px;
  margin-right: -4px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transition: all 0.3s cubic-bezier(0.4, 0.69, 0.21, 0.91) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0.69, 0.21, 0.91) 0s;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.69, 0.21, 0.91) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.4, 0.69, 0.21, 0.91) 0s;
}

.mobile-button {
  margin-left: 35px;
  width: 35px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  .mobile-button {
    display: block;
    margin-left: 25px;
  }
}

@media (max-width: 479px) {
  .mobile-button {
    margin-left: 15px;
  }
}

.mobile-button.open span.line-one {
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  top: 10px;
}

.mobile-button.open span.line-two {
  opacity: 0;
}

.mobile-button.open span.line-three {
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  top: -10px;
}

.mobile-button span {
  display: block;
  width: 100%;
  height: 2px;
  background: #0e76bc;
  margin: 8px 0px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.4, 0.69, 0.21, 0.91) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0.69, 0.21, 0.91) 0s;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.69, 0.21, 0.91) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.4, 0.69, 0.21, 0.91) 0s;
}

/********************************************************
					Header Style End
********************************************************/
/********************************************************
					Footer Style Start
********************************************************/
@media (max-width: 1199px) {
  .border-lg-top-none {
    border-top: none !important;
  }
  .border-lg-bottom-none {
    border-bottom: none !important;
  }
}

.footer_cta {
  background-color: #0e76bc;
  padding: 8rem 0 6rem 0;
  text-align: center;
  position: relative;
  margin-bottom: 110px;
}

@media (max-width: 991px) {
  .footer_cta {
    padding: 8rem 0 4rem 0;
  }
}

@media (max-width: 767px) {
  .footer_cta {
    padding: 4rem 0 2rem 0;
  }
}

.footer_cta:after {
  content: '';
  background-image: url("../../images/wave.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -5px;
  width: 100%;
  height: 122px;
  position: absolute;
  left: 0;
  top: 100%;
}

.footer_cta.cta_overlap {
  padding: 10rem 0 6rem 0;
  margin-top: -80px;
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .footer_cta.cta_overlap {
    padding: 8rem 0 4rem 0;
  }
}

@media (max-width: 767px) {
  .footer_cta.cta_overlap {
    padding: 4rem 0 2rem 0;
    margin-top: 0px;
  }
}

.footer_cta h2 {
  font-size: 2.3rem;
  margin: 0px;
}

.footer_cta .text-content {
  max-width: 660px;
  margin: 15px auto 0;
}

.footer_cta .btn {
  margin-top: 30px;
}

.site-footer {
  padding: 40px 0px;
}

.site-footer .border-bottom-blue {
  padding-bottom: 30px;
}

@media (max-width: 991px) {
  .site-footer .border-bottom-blue {
    padding-bottom: 0px;
  }
}

.border-bottom-blue {
  border-bottom: 2px solid #0e76bc;
}

@media (max-width: 991px) {
  .border-bottom-blue {
    border-bottom: 0px;
  }
}

.footer-widget {
  border-top: 2px solid #0e76bc;
  padding-top: 15px;
}

@media (max-width: 991px) {
  .footer-widget {
    text-align: center;
    border-top: 0px;
    margin-bottom: 40px;
    padding-top: 0px;
  }
}

.footer-widget .widget-title h5 {
  color: #252525;
  min-height: 50px;
}

@media (max-width: 991px) {
  .footer-widget .widget-title h5 {
    min-height: auto;
    margin-bottom: 15px;
  }
}

.footer-widget ul li {
  margin-bottom: 4px;
}

@media (max-width: 991px) {
  .footer-widget ul li {
    margin-bottom: 7px;
  }
}

.footer-widget ul li a {
  color: #515151;
  font-weight: 500;
}

@media (max-width: 991px) {
  .footer-widget ul li a {
    color: #0e76bc;
  }
}

.copyright {
  padding-top: 25px;
  color: #5b5b5b;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .copyright {
    padding-top: 0px;
    text-align: center;
  }
}

.copyright a {
  color: #5b5b5b;
}

.copyright a:hover {
  color: #17a6c6;
}

.copy-right-menu li {
  padding: 0 15px;
  position: relative;
}

.copy-right-menu li:before {
  content: "|";
  position: absolute;
  left: 0px;
  top: 0px;
}

.footer-contact-info {
  color: #5b5b5b;
  font-weight: 400;
  padding-top: 10px;
}

@media (max-width: 1199px) {
  .footer-contact-info {
    text-align: center;
    padding-top: 20px;
  }
}

.footer-contact-info h4 {
  margin: 0px;
  font-size: 23px;
}

.footer-contact-info a {
  color: #5b5b5b;
  text-decoration: none;
}

.footer-contact-info a:hover {
  color: #17a6c6;
}

.footer-contact-info address {
  color: #5b5b5b;
}

.footer-contact-info .social-media {
  margin-bottom: 10px;
}

@media (max-width: 1199px) {
  .footer-contact-info .social-media {
    margin-bottom: 25px;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1199px) {
  .social-media {
    display: block;
    margin-bottom: 25px;
  }
}

.social-media img {
  max-width: 24px;
  margin-right: 13px;
}

.cookies-accept {
  background-color: #17a6c6;
  padding: 18px 40px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  z-index: 999;
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.cookies-accept p {
  display: inline;
}

@media (max-width: 479px) {
  .cookies-accept {
    padding: 25px 15px;
  }
}

.cookies-accept a, .cookies-accept strong {
  font-weight: 500;
  color: #fff;
}

.cookies-accept span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
  color: #0e76bc;
  display: inline-block;
  background-color: #fff;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}

.cookies-accept span.yes {
  background-color: #003d5f;
  color: #fff;
}

.cookies-accept span.yes:hover {
  background-color: #003d5f;
  color: #fff;
}

.cookies-accept span:hover {
  background-color: #eaeaea;
}

/********************************************************
					Footer Style END
********************************************************/
/***************************************
			Home Blog Section 
***************************************/
.hero {
  background-image: url("../../images/pattern-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px;
}

.hero.overlapHero {
  padding-bottom: 120px;
}

@media (max-width: 576px) {
  .hero {
    text-align: center;
    padding: 50px 0px;
  }
}

.hero h2 {
  font-size: 45px;
  font-weight: 100;
}

@media (max-width: 767px) {
  .hero h2 {
    font-size: 40px;
  }
}

@media (max-width: 479px) {
  .hero h2 {
    font-size: 35px;
  }
}

.hero .h-content {
  font-size: 17px;
  margin: 15px 0px 40px 0px;
}

@media (max-width: 991px) {
  .hero .h-content {
    margin: 15px 0px 20px 0px;
  }
}

@media (max-width: 576px) {
  .hero .h-content {
    margin: 15px auto 20px auto;
  }
}

.hero .hero-img img {
  max-width: 100%;
}

.hero .btn {
  margin-top: 8px;
}

/***************************************
			Customer's Section
***************************************/
.home-customers {
  padding: 40px 0px;
  background: #0e76bc;
}

@media (max-width: 991px) {
  .home-customers {
    padding: 25px 0px;
  }
}

.home-customers img {
  max-width: 85%;
}

@media (max-width: 991px) {
  .home-customers img {
    max-width: 60%;
    max-height: 40px;
  }
}

@media (max-width: 767px) {
  .home-customers img {
    max-width: 70%;
  }
}

@media (max-width: 479px) {
  .home-customers img {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .home-customers .row > div:nth-child(n+4) {
    text-align: right;
  }
}

@media (max-width: 576px) {
  .home-customers .row > div:nth-child(n+4) {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .home-customers .row > div {
    margin: 6px 0px;
  }
}

@media (max-width: 576px) {
  .home-customers .row > div {
    text-align: center;
  }
}

/***************************************
			Home Feaures Section
***************************************/
.home-features {
  background-image: url("../../images/darkgreen-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px;
}

@media (max-width: 767px) {
  .home-features {
    padding: 50px 0px 30px 0px;
  }
}

.home-features .head {
  margin-bottom: 50px;
}

.home-features .head h2 {
  font-weight: 200;
}

.home-features .head .textContent {
  margin-top: 20px;
}

.home-features .head .textContent, .home-features .head p {
  font-weight: 200;
}

.h-feature {
  position: relative;
  padding-right: 40px;
}

@media (max-width: 1199px) {
  .h-feature {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .h-feature {
    margin-bottom: 35px;
  }
}

@media (max-width: 479px) {
  .h-feature {
    margin-bottom: 25px;
  }
}

.h-feature .icon {
  min-height: 130px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .h-feature .icon {
    max-width: 100px;
    width: 100%;
    margin-right: 15px;
    min-height: inherit;
  }
}

@media (max-width: 767px) {
  .h-feature .icon {
    max-width: 70px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .h-feature .icon img {
    max-width: 100px;
    width: 100%;
  }
}

.h-feature .title {
  margin-bottom: 10px;
}

@media (max-width: 479px) {
  .h-feature .title {
    margin-bottom: 0px;
  }
}

.h-feature .title h4 {
  font-size: 20px;
}

.h-feature .textContent {
  min-height: 75px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .h-feature .textContent {
    min-height: inherit;
  }
}

.h-feature .resource-btn {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .h-feature .resource-btn {
    display: none;
  }
}

/***************************************
			Blog Section
***************************************/
.blog-section {
  background-image: url("../../images/grey-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 0px 80px 0px;
}

@media (max-width: 991px) {
  .blog-section {
    padding: 160px 0px 30px 0px;
  }
}

.blog-section .head {
  margin-bottom: 40px;
  text-align: center;
}

.h-blog-item {
  border: 2px solid #0e76bc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  padding: 35px 30px 40px 30px;
}

@media (max-width: 991px) {
  .h-blog-item {
    padding: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .h-blog-item {
    margin-bottom: 15px;
  }
}

@media (max-width: 479px) {
  .h-blog-item {
    padding: 20px 15px;
    margin-bottom: 12px;
  }
}

.h-blog-item .b-title {
  min-height: 105px;
}

@media (max-width: 991px) {
  .h-blog-item .b-title {
    min-height: inherit;
    text-align: center;
  }
}

.h-blog-item .b-title h3 {
  color: #0e76bc;
  font-weight: 300;
}

.h-blog-item .b-content {
  font-size: 14px;
  min-height: 135px;
}

@media (max-width: 991px) {
  .h-blog-item .b-content {
    min-height: inherit;
  }
}

.h-blog-item .resource-btn {
  text-align: center;
  margin-top: 30px;
}

.h-blog-item .btn {
  padding-left: 40px;
  padding-right: 40px;
}

/***************************************
			Home Integration Section
***************************************/
.home-integration {
  padding: 80px 0px;
}

@media (max-width: 767px) {
  .home-integration {
    padding: 50px 0px;
  }
}

.home-integration .section-head {
  text-align: center;
  max-width: 551px;
  margin: 0 auto 30px;
}

.home-integration .section-head h2 {
  font-weight: 300;
}

.home-integration .section-head .text-content {
  margin: 20px 0;
}

.home-integration .section-head .btn {
  padding-left: 70px;
  padding-right: 70px;
  text-transform: uppercase;
  font-weight: 500;
}

.home-integration .flow-cart {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.home-integration .flow-cart .img-mobile {
  max-width: 280px;
}

/***************************************
			Home Testimonials Section
***************************************/
.home-testimonials {
  background-color: #eaeaea;
  padding: 80px 0px 0px 0px;
}

@media (max-width: 991px) {
  .home-testimonials {
    padding: 50px 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  .home-testimonials {
    padding: 50px 0px 20px 0px;
  }
}

.home-testimonials .textContent {
  font-size: 17px;
  padding-right: 80px;
  font-weight: 300;
  margin-bottom: 70px;
}

@media (max-width: 991px) {
  .home-testimonials .textContent {
    padding-right: 0px;
    max-width: 420px;
    margin: 0 auto 40px;
  }
}

.home-testimonials .textContent h2 {
  font-weight: 300;
  max-width: 270px;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .home-testimonials .textContent h2 {
    margin: 0 auto 30px;
    text-align: center;
  }
}

.user-quote {
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .user-quote {
    text-align: center;
    max-width: 220px;
    margin: 0 auto 30px;
  }
}

@media (max-width: 767px) {
  .user-quote {
    max-width: 100%;
  }
}

.user-quote .image {
  max-width: 125px;
  margin-right: 10px;
}

@media (max-width: 991px) {
  .user-quote .image {
    margin: 0 auto 15px;
  }
}

.user-quote .image img {
  max-width: 100%;
}

.user-quote h5 {
  font-size: 17px;
}

.quote {
  background-color: #fbfbff;
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  padding: 20px;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.quote .q-text {
  font-size: 14px;
  min-height: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .quote .q-text {
    min-height: 204px;
  }
}

.quote .q-info {
  text-align: center;
  padding: 0 50px;
}

@media (max-width: 991px) {
  .quote .q-info {
    padding: 0 10px;
  }
}

.quote .q-info h3 {
  color: #083640;
  font-size: 18px;
  min-height: 43px;
}

@media (max-width: 991px) {
  .quote .q-info h3 {
    min-height: 63px;
  }
}

.quote .q-info .q-logo {
  min-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/***************************************
			Leadership Page 
***************************************/
.team-member {
  cursor: pointer;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .team-member {
    margin-bottom: 30px;
  }
}

.team-member:hover {
  opacity: 0.9;
}

.team-member .image {
  position: relative;
  margin-bottom: 10px;
}

.team-member .image img {
  width: 100%;
}

.team-member .image-leader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}

.team-member h3 {
  color: #000000;
  font-weight: 500;
  margin-bottom: 0px;
}

.team-member .designation {
  color: #0e76bc;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

.l-section2 {
  background-image: url("../../images/darkgreen-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px;
}

.l-section2 .text-content {
  color: #fff;
  font-weight: 300;
  line-height: 170%;
}

.leaderPopup .modal-body {
  padding: 40px 40px 30px 40px;
}

@media (max-width: 479px) {
  .leaderPopup .modal-body {
    padding: 30px 15px;
  }
}

.leaderPopup .modal-body p:last-child {
  margin-bottom: 0px;
}

.leaderPopup .modal-content {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border: 0px;
}

/***************************************
			Partners Page 
***************************************/
.partner-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}

.partner-box:hover {
  border-color: #0e76bc;
}

.partner-box img {
  max-height: 74px;
  width: auto;
}

.partner-box a:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  content: "";
}

/***************************************
			Request Demo Page 
***************************************/
.requestdemo-content-container {
  background: #fff;
  padding: 4rem 6%;
  margin: 30px 0px;
  box-shadow: 0 0px 15px 0 rgba(45, 35, 66, 0.15);
  -moz-box-shadow: 0 0px 15px 0 rgba(45, 35, 66, 0.15);
  -webkit-box-shadow: 0 0px 15px 0 rgba(45, 35, 66, 0.15);
  -ms-box-shadow: 0 0px 15px 0 rgba(45, 35, 66, 0.15);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
}

.requestdemo-content-container .list-item li {
  margin-bottom: 10px;
}

.requestdemo-content-container .list-item strong {
  color: #17a6c6;
}

.requestdemo-content-container .header-part {
  margin-bottom: 25px;
}

.requestdemo-form {
  margin-top: 50px;
}

.requestdemo-form label {
  color: #5b5b5b;
  margin-bottom: 5px;
  display: block;
  padding: 3px 13px 0 0;
  letter-spacing: .5px;
}

.form-control {
  height: 40px;
  border: 1px solid #d5d2d9;
  font-size: 13px;
}

textarea .form-control {
  height: 150px;
}

textarea.form-control {
  height: 100px;
}

.required label {
  background: url("../../images/icons/required.gif") no-repeat top right;
}

.list-item li {
  list-style: none;
  padding-left: 28px;
  position: relative;
  margin-bottom: 5px;
}

.list-item li:before {
  content: '';
  background-image: url("../../images/icons/bullet-icon.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin: 0 6px 0 0;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 3px;
}

/***************************************
			Solutions Page 
***************************************/
.industries-list .industry {
  text-align: center;
  padding: 25px 15px;
}

@media (max-width: 767px) {
  .industries-list .industry {
    padding: 15px 0px;
  }
}

.industries-list a {
  display: inline-block;
}

.industries-list .icon {
  display: block;
}

.industries-list .icon img {
  max-height: 80px;
}

.industries-list .name {
  display: block;
  margin-top: 13px;
  font-size: 16px;
}

/***************************************
			Contact Page 
***************************************/
.contactpage-wrap {
  background-color: #fff;
  padding: 50px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width: 767px) {
  .contactpage-wrap {
    padding: 10px 25px;
  }
}

.contactpage-wrap .text-content {
  font-size: 14px;
  color: #5b5b5b;
}

.contactpage-wrap .footer-contact-info {
  text-align: left;
}

@media (max-width: 991px) {
  .contactpage-wrap .footer-contact-info {
    margin-bottom: 30px;
  }
}

/***************************************
			Industries Page 
***************************************/
.industry-item {
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 35px;
}

.industry-item:last-child {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.industry-item .icon img {
  max-width: 100%;
  transform: scale(0.7);
  -moz-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transition: -webkit-transform 0.15s ease-in-out 0s;
  transition: -webkit-transform 0.15s ease-in-out 0s;
  transition: transform 0.15s ease-in-out 0s;
  transition: transform 0.15s ease-in-out 0s, -webkit-transform 0.15s ease-in-out 0s;
  -moz-transition: transform 0.15s ease-in-out 0s;
  -webkit-transition: transform 0.15s ease-in-out 0s;
  -ms-transition: transform 0.15s ease-in-out 0s;
}

@media (max-width: 991px) {
  .industry-item .icon img {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
  }
}

@media (max-width: 576px) {
  .industry-item .icon img {
    max-width: 120px;
    margin-bottom: 20px;
  }
}

.industry-item a {
  color: #17a6c6;
}

.industry-item:hover .icon img {
  max-width: 100%;
  transform: scale(0.9);
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

@media (max-width: 991px) {
  .industry-item:hover .icon img {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
  }
}

/***************************************
			blog Page 
***************************************/
.blog-post {
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.12);
  position: relative;
  -webkit-transition: -webkit-transform 0.25s ease-in-out 0s;
  transition: -webkit-transform 0.25s ease-in-out 0s;
  transition: transform 0.25s ease-in-out 0s;
  transition: transform 0.25s ease-in-out 0s, -webkit-transform 0.25s ease-in-out 0s;
  -moz-transition: transform 0.25s ease-in-out 0s;
  -webkit-transition: transform 0.25s ease-in-out 0s;
  -ms-transition: transform 0.25s ease-in-out 0s;
  margin-bottom: 20px;
}

.blog-post:hover {
  transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
}

.blog-post .link {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.blog-post .blog-image {
  background-position: center center;
  background-size: cover;
  min-height: 250px;
}

.blog-post .blog-content {
  padding: 25px;
}

.blog-post .blog-content .category {
  color: #0e76bc;
  text-transform: uppercase;
}

.blog-post .blog-content .text-content {
  color: #1e1e1e;
  padding: 10px 0px;
}

.blog-detail-hero {
  background-image: url("../../images/grey-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-detail-hero h1 {
  color: #0e76bc;
  font-weight: 300;
}

.blog-detail-hero .text-content {
  font-size: 17px;
  color: #000000;
}

.blog-body {
  padding: 50px 0px;
}

.blog-body.overlapTop {
  margin-top: -120px;
}

.blog-featured-image {
  border: 15px solid #fff;
  margin-bottom: 20px;
}

.blog-featured-image img {
  width: 100%;
}

.blockquote,
.wp-block-quote {
  border: 1px solid #17a6c6;
  padding: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  max-width: 80%;
  margin: 40px auto;
}

.blockquote p,
.wp-block-quote p {
  color: #000000;
  font-style: Italic;
  font-size: 18px;
}

.blockquote cite,
.wp-block-quote cite {
  color: #0e76bc;
  font-style: normal;
}

.custom_pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  padding: 0px;
  margin: 0px;
}

.custom_pagination li a, .custom_pagination li span {
  padding: .7rem 1rem;
  position: relative;
  display: block;
  border: 1px solid #dee2e6;
  margin-left: -1px;
  line-height: 1.25;
  z-index: 1;
  color: #007bff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.custom_pagination li a.current, .custom_pagination li span.current {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.custom_pagination li a:hover, .custom_pagination li span:hover {
  text-decoration: none;
  background-color: #e9ecef;
}

.loadingposts {
  border: 1px solid #0e76bc;
  text-align: center;
  color: #0e76bc;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
  display: none;
}

.blog-content .page-main-content-area {
  max-width: 660px;
  margin: 0 auto;
  font-size: 16px;
}

.blog-content .page-main-content-area p {
  font-size: 16px;
}

/***************************************
			Sidebar Page 
***************************************/
.sidebar {
  margin-left: auto;
}

@media (max-width: 991px) {
  .sidebar {
    margin-top: 50px;
  }
}

.sidebar .widget {
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
  padding: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  margin-bottom: 20px;
  background-color: #fff;
}

.sidebar .widget .widget-title {
  color: #0e76bc;
  margin-bottom: 0px;
}

.sidebar .widget .icon img {
  max-width: 60px;
}

.sidebar .widget .text-content {
  margin-top: 10px;
}

.sidebar .widget .guide-note {
  background-image: url("../../images/icons/move-farward.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 45px 45px;
  padding-left: 60px;
  color: #17a6c6;
  font-weight: 600;
  font-size: 1.2rem;
  display: inline-block;
  line-height: 1.6rem;
}

.list-items.featured-blogs li {
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0px;
}

.search-widget {
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .main_left_side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .main_right_side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .sidebar {
    max-width: 300px;
  }
}

.subscription-widget .divider {
  margin: 15px 0px;
}

.subscription-widget .divider .line {
  display: block;
  width: 100%;
  background-color: #0e76bc;
  height: 2px;
  max-width: 140px;
}

/***************************************
			404 Page 
***************************************/
.wrap404 {
  background-image: url("../../images/errorpage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 50px 0px;
}

.wrap404 .inner-content {
  text-align: center;
  min-height: 75vh;
}

.wrap404 h2 {
  font-size: 55px;
}

.wrap404 p {
  font-size: 20px;
}

/***************************************
			News Page 
***************************************/
.news-article {
  margin-bottom: 35px;
}

.news-article h3 {
  text-transform: uppercase;
}

.news-article .article-actions {
  margin-top: 15px;
}

.news-article .article-meta {
  margin-bottom: 10px;
}

.news-article .arrow-right {
  width: 20px;
  height: 17px;
  background-image: url("../../images/icons/arrow-right-nb.png");
  margin-left: 7px;
}

.news-article .read_more {
  color: #17a6c6;
}

/***************************************
			Products Page 
***************************************/
@media (max-width: 991px) {
  .hero.products-hero h2 {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .hero.products-hero .hero-img {
    margin-bottom: 20px;
  }
}

.c-border-top {
  position: relative;
  padding-top: 15px;
}

@media (max-width: 767px) {
  .c-border-top {
    padding: 8px 0;
  }
}

@media (max-width: 991px) {
  .c-border-top.f-md {
    padding: 8px 0;
  }
}

@media (max-width: 991px) {
  .c-border-top.f-md:before {
    width: 100%;
  }
}

.c-border-top:before {
  content: "";
  width: 75%;
  height: 1px;
  background: #17a6c6;
  position: absolute;
  left: 0px;
  top: 0px;
}

@media (max-width: 767px) {
  .c-border-top:before {
    width: 100%;
  }
}

.product_carousel {
  padding: 0 65px;
}

@media (max-width: 767px) {
  .product_carousel {
    padding: 0 45px;
  }
}

@media (max-width: 479px) {
  .product_carousel {
    padding: 0px;
  }
}

.product_carousel .carousel-image {
  padding: 7px;
  margin-bottom: 20px;
}

.product_carousel .carousel-image img {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}

.product_carousel .carousel-control-next,
.product_carousel .carousel-control-prev {
  width: 50px;
  height: 50px;
  color: #000000;
  border: 1px solid #000000;
  top: 50%;
}

@media (max-width: 767px) {
  .product_carousel .carousel-control-next,
  .product_carousel .carousel-control-prev {
    width: 36px;
    height: 36px;
    top: 120px;
  }
}

.shadow-img {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}

/***************************************
			faq Page 
***************************************/
.faq-section {
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.faq-block {
  padding-bottom: 0px;
  margin-bottom: 15px;
  border-bottom: 1px solid #cecece;
}

.faq-block:last-child {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.faq-block .title {
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.faq-block .title .question {
  color: #17a6c6;
  font-weight: bold;
  font-size: 22px;
}

.faq-block .content p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */