/********************************************************
					Global Style Start
********************************************************/
html {
	font-size: 15px;
}
html, body {
	padding: 0px;
	margin: 0px;
	font-family: 'Fira Sans', sans-serif;
	// font-family: "sofia-pro", sans-serif;
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Fira Sans', sans-serif;
	// font-family: "sofia-pro", sans-serif;
	font-weight: 400;	
}
body {
	color: $black3;
	font-size: 1rem;
}
a {
	@include transition(color 0.3s ease-in-out 0s);
}
a:focus,
a:active,
button:focus,
button:active,
.form-control:focus {
	outline:none;
}
.form-control:focus {
	box-shadow: none;
}
a {
	color: $black;
	&:hover {
		color: $blue;
	}
}
.page-main-content-area {
	text-align: justify;
	h4 {
		margin-top: 30px;
		font-size: 27px;
	}
}
.large-text {
	font-size: 17px;
	font-weight: 300;
}
.btn {
	padding: 11px 25px;
	font-size: 14px;
	letter-spacing: .5px;

	@include transition(all 0.3s cubic-bezier(0.36, 1.11, 0.58, 1) 0s);

	&:hover {
		@include transform( translateY(-3px) );
	}
	&:focus {
		@include boxShadow(0 0 0 0 rgba(0,0,0,0) !important);
	}
}
.btn-primary {
	background-color: $skyBlue;
	@extend %colorwhite;
	border-color: $skyBlue;
	&:hover,&:active,&:focus {
		background-color: $btn_hover_dark;
		border-color: $btn_hover_dark;
		@extend %colorwhite;
	}
}
.btn-outline-primary {
	border-color: $skyBlue;
	color: $skyBlue;
	&:hover,&:active,&:focus,
	&:not(:disabled):not(.disabled):active {
		background-color: $btn_hover_dark;
		border-color: $btn_hover_dark;
		@extend %colorwhite;
	}
	&:hover,&:active,&:focus,
	&:not(:disabled):not(.disabled):active {
		.i-play {
			border-left-color: $white;
		}
	}
}
.btn-warning {
	background-color: $orange;
	@extend %colorwhite;
	&:hover {
		@extend %colorwhite;
	}
}
.i-play {
	display: inline-block;
	border: 10px solid transparent;
    border-left-color: $skyBlue;
    vertical-align: middle;
}
.page-item {
	.page-link {
		padding: .7rem 1rem;
	}	
}
.inner-page-header {
	background-image: url('#{$imgPath}/pattern-title.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0px;
	text-align: center;
	@include mediaQuery(768) {
    	padding: 30px 0px;
	}
	h1 {
		font-weight: 100;
		@extend %colorwhite;
		font-size: 40px;
		@include mediaQuery(768) {
	    	font-size: 33px;
		}
	}
}
.innerpage_wrap {
	padding: 50px 0px;
	@include mediaQuery(991) {
		padding: 30px 0px;
	}
}
.section {
	padding: 80px 0px;
	@include mediaQuery(768) {
		padding: 50px 0px;
	}
}
.single-page-body {
	line-height: 1.7;
}
// @media (min-width: 1200px) {
// 	.container {
// 	    max-width: 1230px;
// 	}
// }
/********************************************************
					Global Style END
********************************************************/
