$white: #fff;
$black: #000000;

$black1: #252525;
$black2: #515151;
$black3: #5b5b5b;

$blue: #0e76bc;
$skyBlue: #17a6c6;
$btn_hover_dark: #15b3d6;

$orange: #f8931d;

$grey: #eaeaea;
$darkGreen: #083640;

$imgPath : '../../images';
$iconsPath : '../../images/icons';

%unstyle {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
%bg-skyblue {
  background-color: $skyBlue;
}
.text-skyBlue {
	color: $skyBlue;
}
.bg-skyblue {
	@extend %bg-skyblue;
}
%colorwhite {
	color: $white;
}
.text-blue {
	color: $blue;
	p {
		color: $blue;
	}
}

.bg-grey {
  background-color: $grey;
}