/********************************************************
					Header Style Start
********************************************************/
.site-header {
	background: $white;
	padding: 0px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 999; 

	@include boxShadow(0px 0px 12px 1px rgba(0,0,0,0.1));

	@include mediaQuery(991) {
		height: 70px;
		padding: 15px 0px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	+ .header-gap {
		height: 76px;
		@include mediaQuery(991) {
			height: 70px;
		}
	}
}
.logo {
	display: inline-block;
	img {
		max-width: 200px;
	}
	.desktop {
		@include mediaQuery(479) {
			display: none;
		}
	}
	.mobile {
		max-width: 43px;
		display: none;
		@include mediaQuery(479) {
			display: block;
		}
	}
}
.main-nav-wrap {
	@include mediaQuery(991) {
		margin-left: 0px;
	    position: fixed;
	    left: 0px;
	    top: 70px;
	    width: 100%;
	    height: calc(100% - 70px);
	    background: $white;
	    z-index: -10;
		overflow: auto;
		display: none;

    	opacity: 0;
    	visibility: hidden;

    	@include transition(all 0.35s cubic-bezier(0.43, 1, 0.58, 1) 0s);
	}
	nav {
		@include mediaQuery(991) {
		    width: 100%;
		}
	}
}
.openMenu .main-nav-wrap {
	@include mediaQuery(991) {
    	opacity: 1;
    	visibility: visible;
	    z-index: 10;
		display: block;
    }
}
.main-nav {
	list-style: none;
	padding: 0px;
	margin: 0px;
	@include flex();
	@include mediaQuery(991) {
    	display: block;
    }
	li {
		a {
			text-transform: uppercase;
			display: block;
			text-decoration: none;
			font-size: 15px;
		}		
		&:hover {
			> ul {
				visibility: visible;
				opacity: 1;
				top: 100%;
				left: 0;
			}
		}
	}
	> li {
		position: relative;
		@include mediaQuery(991) {
		    border-bottom: 1px solid #d7d7d7;
		}
		> a {
			padding: 26px 18px;
			color: $black;
			font-weight: 400;
			border-bottom: 2px solid transparent;
			@include mediaQuery(991) {
			    color: #58585a;
			    border-bottom: 0px;
				padding: 10px 18px;
				font-weight: 500;
			}
			&:hover {
				border-bottom-color: $blue;
				color: $blue;
				
			}

		}
	}
	ul {
		position: absolute;
		left: 0px;
		top: 120%;
		z-index: 99;
		@extend %unstyle;
		background-color: $white;
		min-width: 225px;
		visibility: hidden;
		opacity: 0;
		margin-top: -3px;
		border-top: 2px solid $blue;
		@include transition(all 0.25s cubic-bezier(0.35, 0.33, 0.74, 0.76) 0s);
		@include boxShadow( 0px 0px 15px 2px rgba(0,0,0,0.12) );

		@include mediaQuery(991) {
	    	position: static;
	    	visibility: visible;
			opacity: 1;
			background-color: transparent;
			display: block;
			border-top: 0px solid transparent;
			@include boxShadow( none );
	    }

		li {
			a {
				color: #58585a;
				font-weight: 500;
				padding: 7px 17px;	
				font-size: 15px;
				@include mediaQuery(991) {
				    color: #58585a;
					padding: 10px 25px 10px 35px;
    				font-weight: 400;
				}
				&:hover {
					color: $skyBlue;
				}
			}
		}
	}
}

.get-started-btn {
	margin-left: 25px;
	@include mediaQuery(576) {
		display: none;
	}
	a {
		border: 1px solid $skyBlue;
		@include border-radius(5px);		
		color: $skyBlue;
		font-weight: 400;
		padding: 5px 16px;
		text-decoration: none;		
		text-transform: uppercase;
		display: block;
		font-size: 15px;
		margin-left: 8px;
		&:hover {
			&:hover {
				border-color: $btn_hover_dark;
				color:  $btn_hover_dark;
			}
			.arrow-right {

				transform: translateX(5px);
				-webkit-transform: translateX(5px);
				-ms-transform: translateX(5pxf);
			}
		}
	}
	a.get_started {
		color: $white;
		background-color: $skyBlue;
		&:hover {
			background-color: $btn_hover_dark;
			border-color: $btn_hover_dark;
			color: $white;
		}
	}
}
.arrow-right {
	background-image: url('#{$iconsPath}/arrow-right-white.png');
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 17px;
	height: 12px;
	margin-left: 2px;
	margin-right: -4px;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);

	@include transition(all 0.3s cubic-bezier(0.4, 0.69, 0.21, 0.91) 0s);
}
.mobile-button {
    margin-left: 35px;
	width: 35px;
	cursor: pointer;
	display: none;
	@include mediaQuery(991) {
		display: block;
    	margin-left: 25px;
	}
	@include mediaQuery(479) {
    	margin-left: 15px;
	}
	&.open {
		span.line-one {
			@include rotate(45deg);
			top: 10px;
		}
		span.line-two {
			opacity: 0;
		}
		span.line-three {
			@include rotate(-45deg);
			top: -10px;
		}
	}
	span {
		display: block;
		width: 100%;
		height: 2px;
		background: $blue;
    	margin: 8px 0px;
    	position: relative;
    	@include transition(all 0.3s cubic-bezier(0.4, 0.69, 0.21, 0.91) 0s);
	}
}
/********************************************************
					Header Style End
********************************************************/