/********************************************************
					Footer Style Start
********************************************************/
@include mediaQuery(1199) {
	.border-lg-top-none {
		border-top: none !important;
	}
	.border-lg-bottom-none {
		border-bottom: none !important;
	}
}

.footer_cta {
	background-color:$blue;
	padding: 8rem 0 6rem 0;
	text-align: center;
    position: relative;
    margin-bottom: 80px;
    @include mediaQuery(991) {
    	padding: 8rem 0 4rem 0;
	}
	@include mediaQuery(768) {
    	padding: 4rem 0 2rem 0;
	}
    &:after {
		content: '';
		background-image: url('#{$imgPath}/wave.png');
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -5px;
		width: 100%;
		height: 77px;
		position: absolute;
		left: 0;
		top: 100%;
    }
    &.cta_overlap {
    	padding: 10rem 0 6rem 0;
    	margin-top: -80px;
    	margin-bottom: 0px;
    	@include mediaQuery(991) {
	    	padding: 8rem 0 4rem 0;
		}
		@include mediaQuery(768) {
	    	padding: 4rem 0 2rem 0;
	    	margin-top: 0px;
		}
    }

	h2 {
		@extend %colorwhite;
		font-size: 2.3rem;
		margin: 0px;
	}
    .text-content {
    	max-width: 660px;
    	margin: 15px auto 0;
    }	
	p {
		@extend %colorwhite;
	}
	.btn {
		margin-top: 30px;
	}
}
.site-footer {
    padding: 40px 0px;

    .border-bottom-blue {
    	padding-bottom: 30px;
    	@include mediaQuery(991) {
	    	padding-bottom: 0px;
		}
    }
}
.border-bottom-blue {
	border-bottom: 2px solid $blue;
	
	@include mediaQuery(991) {
    	border-bottom: 0px;
	}

}
.footer-widget {
	border-top: 2px solid $blue;
	padding-top: 15px;

	@include mediaQuery(991) {
    	text-align: center;
		border-top: 0px;
		margin-bottom: 40px;
		padding-top: 0px;
	}

	.widget-title {
		h5 {
			color: $black1;
			min-height: 50px;

			@include mediaQuery(991) {
				min-height: auto;
				margin-bottom: 15px;
			}
		}
	}

	ul {
		@extend %unstyle;
		li {
			margin-bottom: 4px;
			@include mediaQuery(991) {
				margin-bottom: 7px;
			}
			a {
				color:$black2;
				font-weight: 500;
				@include mediaQuery(991) {
					color: $blue;
				}
			}
		}
	}

}
.copyright {
	padding-top: 25px;
	color: $black3;
	font-weight: 500;
	@include mediaQuery(1199) {
    	padding-top: 0px;
		text-align: center;
	}
	a {
		color: $black3;
		&:hover {
			color: $skyBlue;
		}
	}
}
.copy-right-menu {
	li {
		padding:0 15px;
		position: relative;
		&:before {
			content: "|";
			position: absolute;
			left: 0px;
			top: 0px;
		}
	}
}
.footer-contact-info {
	color: $black3;
	font-weight: 400;
	padding-top: 10px;

	@include mediaQuery(1199) {
		text-align: center;
		padding-top: 20px;
	}
	h4 {
		margin: 0px;
		font-size: 23px;
	}
	a {
		color: $black3;
		text-decoration: none;
		&:hover {
			color: $skyBlue;
		}
	}
	address {
		color: $black3;
	}
	.social-media {
		margin-bottom: 10px;
		@include mediaQuery(1199) {
			margin-bottom: 25px;
		}
	}
}
.social-media {
    @include flex();
    @include align-items(center);

    @include mediaQuery(1199) {
		display: block;
		margin-bottom: 25px;
	}

    img {
	    max-width: 24px;
    	margin-right: 13px;
	}
}
/********************************************************
					Footer Style END
********************************************************/